[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
python-dotenv = "*"
tobii-research = "*"
flask = "*"
flask-cors = "*"
timeout-decorator = "*"

[requires]
python_version = "3.5.2"

[scripts]
prepare = "cp env .env"
start = "python ./main.py"
